/* CSS Reset */
p, ul, h1, h2, h3 {
  margin: unset;
  padding: unset;
  /* display: unset; */
}

body {
  margin: 0px;
}

li {
  margin: unset;
  list-style-type: none;
}

img {
  max-width: 100%;
}

/* Typograph */
:root {
  font-family: "Montserrat", sans-serif;
}

/* Layout */
.h_wrapper {
  height: 930px;
  width: 1920px;
}

.l_wrapper {
  width: 1080px;
  margin: 0 auto;
}

/* Design */
.first {
  background-color: #6230a2;
}

.second {
  background-color: #fff5ed;
}


.header .first-header-inside {
  display: flex;
  align-items: center;
  padding-top: 92px;
}

.header .first-header-inside .title{
  color: #fff;
  font-size: 40px;
  line-height: 44px;
  /* box-shadow: inset 0 0 20px green; */
  max-width: 258px;
  min-height: 134px;
}

.header .first-header-inside .title-strong {
  box-shadow: inset 0px -0.7em 0px 0px #ff4500;
  font-weight: bold;
}

.header .first-header-inside .explain{
  /* box-shadow: inset 0 0 20px red; */
  max-width: 582px;
  display: flex;
  color: #C89DFF;
  font-size: 14px;
}

.header .first-header-inside .explain::before{
  content: '';
  width: 90px;
  height: 1px;
  background-color: #C89DFF;
  margin: auto 32px;
  flex-shrink: 0;
}

.content .first-content-inside {
  margin-top: 100px;
  margin-bottom: 100px;
}

.content .first-content-inside .content-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content .first-content-inside .content-list .list-inside {
  display: flex;
  flex-direction: row;
}

.content .first-content-inside .content-list .reverse {
  display: flex;
  flex-direction: row-reverse;
}


.content .first-content-inside .content-list .items-subject{
  font-weight: 500;
  width: 280px;
  height: 148px;
  background-image: url(./images/photo01.png);
  background-size: cover;
  position: relative;
}

.content .first-content-inside .content-list .second{
  background-image: url(./images/photo02.png);
}

.content .first-content-inside .content-list .third {
  background-image: url(./images/photo03.png);
}

.content .first-content-inside .content-list .items-subject .subject-title {
  font-size: 32px;
  color: #fff;
  line-height: 44px;
  width: fit-content;
  margin: 52px 103px;
  font-weight: 500;
}

.content .first-content-inside .content-list .items-subject .subject-title::after {
  content: '';
  background-color: #6230a2;
  opacity: 50%;
  position: absolute;
  inset: 0;
}

.content .first-content-inside .content-list .list-inside .items-explain {
  background-color: #fff;
  padding-left: 21px;
  padding-top: 16px;
  font-size: 14px;
  max-width: 800px;
  flex-grow: 1;
}

.content .first-content-inside .content-list .list-inside .items-explain .items-title {
  color: #6230a2;
  font-weight: bold;
  font-size: 18px;
}

.content .first-content-inside .content-list .list-inside .items-explain .items-list {
  padding-top: 14px;
  padding-bottom: 14px;
}

.content .first-content-inside .content-list .list-inside .items-explain .items-reason {
  list-style: inside;
  list-style-position: outside;
  margin-left: 22px;
}

.content .first-content-inside .content-list .list-inside .items-explain .items-reason::marker {
  color: #C89DFF;
  font-size: 1.4em;
}

.header .second-header-inside {
  display: flex;
  align-items: center;
  padding-top: 92px;
  margin-bottom: 100px;
}

.header .second-header-inside .header-title {
  font-size: 40px;
  color: #f98173;
  line-height: 44px;
  font-weight: 500;
  max-width: 360px;
}

.header .second-header-inside .header-content {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  height: 48px;
  line-height: 48px;
  width: 208px;
  background-color: #ff4500;
  margin-left: auto;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  border-radius: 4px;
}

.content .second-content-inside {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: minmax(0, auto);   /* 593px로 주려 했으나 콘텐츠가 많아! */
}

.content .content-value {
  width: 340px;
  position: relative;
  background-color: #fff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}

.content .content-value .soldout::before {
  content: '';
  background-image: url(./images/badge.png);
  width: 110px;
  height: 110px;
  /* box-shadow: inset 0 0 20px red; */
  position: absolute;
  left: 0;
  top: 0;
  margin-left: -10px;
  margin-top: -10px;
}

.content .content-value .value-header .value-img {
  border-bottom: 4px solid #111;
  max-width: 340px;
}

.content .content-value .header-hash{
  display: flex;
  gap: 4px;
  margin-top: 20px;
  margin-left: 20px;
}

.content .content-value .hash-content {
  font-size: 14px;
  font-weight: 600;
  color: #6230A2;
  background-color: #EBDBFF;
  border: 0px solid;
  padding: 2px 12px 3px;
  border-radius: 12px;
}

.content .content-value .value-content{
  max-width: 340px;
}

.content .content-value .value-content .content-title {
  font-size: 24px;
  font-weight: bold;
  color: #111;
  margin-left: 20px;
  margin-top: 20px;
  width: fit-content;
  min-height: 58px;
}

.content .content-value .value-content .content-explain {
  font-size: 14px;
  line-height: 22px;
  padding: 20px;
  font-weight: 400;
  color: #333;
  min-height: 132px;
}

.content .content-value .value-futter .futter-member::before{
  content: '';
  display: block;
  width: 320px;
  height: 4px;
  background-color: #eee;
  margin-left: auto;
  margin-bottom: 16px;
}

.content .content-value .value-futter .futter-member{
  font-weight: 400;
  font-size: 14px;
  color: #999;
  width: fit-content;
  margin-left: 22px;
  margin-bottom: 23px;
}